<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サンプル掲示板</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/js/index.js"></script>
</head>
<body>
    <h1 class="text-center h3 mt-3 mb-4">サンプル掲示板</h1>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">

                <form th:action="@{/}" th:method="post" th:object="${articleRequest}">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>タイトル</th>
                            <td>
                                <input class="form-control" type="text" name="title" size="50">
                                <p th:if="${#fields.hasErrors('title')}" class="text-danger m-0" th:errors="*{title}"></p>
                            </td>
                        </tr>
                        <tr>
                            <th>名前</th>
                            <td>
                                <input class="form-control" type="text" name="name" size="50">
                                <p th:if="${#fields.hasErrors('name')}" class="text-danger m-0" th:errors="*{name}"></p>
                            </td>
                        </tr>
                        <tr>
                            <th>内容</th>
                            <td>
                                <textarea class="form-control" name="contents" rows="4" cols="65" maxlength="500"></textarea>
                                <p th:if="${#fields.hasErrors('contents')}" class="text-danger m-0" th:errors="*{contents}"></p>
                                <div class="form-group row mt-3">
                                    <label class="col-sm-2 col-form-label">投稿KEY</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" name="articleKey" maxlength="4">
                                        <p th:if="${#fields.hasErrors('articleKey')}" class="text-danger m-0" th:errors="*{articleKey}"></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2" class="text-right">
                                <button type="submit" class="btn btn-info">　送信　</button>
                                <button type="reset" class="btn btn-light">リセット</button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </form>
                <div th:class="'alert ' + *{alert_class}" role="alert" th:id="flash-message" th:if="${message}" th:text="${message}"></div>
            </div>
            <div class="col"></div>
        </div>

    </div>
    <div class="container" th:each="article:${articles}" th:object="${article}">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <table class="table table-bordered">
                    <thead>
                    <tr class="table-danger">
                        <th>
                            <div class="row">
                                <div class="form-check col-sm">
                                    <p class="m-0" th:data-id="*{id}" th:text="*{title}"></p>
                                </div>
                                <div class="col-sm text-right">
                                    <form th:action="@{/}" th:method="get" th:name="'form_change_article_'+*{id}">
                                        <button type="button" class="btn btn-info btn-sm" th:attr="onclick='changeArticleSubmit(\'update\',this,' + *{id} + ')'">　編集　</button>
                                        <button type="button" class="btn btn-secondary btn-sm"  th:attr="onclick='changeArticleSubmit(\'delete\',this,' + *{id} + ')'">　削除　</button>
                                    </form>
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>
                            <div class="row">
                                <div class="col-sm">名前：<span th:text="*{name}"></span></div>
                                <div class="col-sm">投稿日時：<span th:text="${#dates.format(article.registerAt,'yyyy/MM/dd HH:mm:ss')}"></span></div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-break" th:text="*{contents}"></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>